* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f2f5;
}

body, input, button {
    font-family: 'Poppins', sans-serif;
}

.conteudo-cabecalho{
    background-color:#5429cc;
    
    
}

.conteudo-cabecalho .cabecalho-centro{
    max-width: 1120px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
    padding: 32px 16px 160px;
}

.conteudo-cabecalho .cabecalho-centro .btn{
    background-color: #6933ff;
    height: 48px;
    width: 195px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}

.principal {
    /* background-color: red; */
    /* max-width: 1000px; */
    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 16px;
    max-width: 1120px;
    margin: 0 auto;
}

.secundaria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    margin-top: -120px;
}

.item-card {
    background-color: #fff;
    padding: 28px 32px 28px 32px;
    /* padding: 44px 48px 44px 48px; */
    border-radius: 5px;
    color: #363F5F;
}

.item-card div {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.item-card strong {
    font-size: 32px;
    font-weight: 500;
    margin-top: 16px;
    display: block;
}

.item-card.colortotal {
    background-color: #33cc95;
    color: #fff;
}